.swiper-slide-active{
    display: flex !important;
    justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 4.6875rem;
    height: 4.6875rem;
    color: transparent;
    cursor: pointer;
    position: absolute;
    top: 25%;
    z-index: 10;
    transition: all .3s;

    &:hover{
        opacity: 0.5;
    }
}

.swiper-button-prev {
    background-image: url('./assets/icons/arrow-left.svg');
}

.swiper-button-next {
    background-image: url('./assets/icons/arrow-right.svg');
    right: 0;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 30px;
    height: 4px;
    background: #444;
    opacity: 1;
    border-radius: 2px;
    margin: 0 4px;
    transition: background 0.3s;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background: #f9c74f;
}